:root {
    --primary-dark: #292F36;
    --secondary-dark: #4D5053;
}
@media (prefers-color-scheme: dark) {
    :root { --primary-dark: #fff; --secondary-dark: #c0c3c5;}
    body {
      background-color: #292F36;
      header { background-color: #292F36 !important; nav { background-color: #292F36; } .logo { svg path { fill: #CDA274; } } }  
      section.clients, section.number { background-color: #CDA274; .card { background-color: #292F36 !important; } }
      section.brands a { svg path { fill: #fff;} &:nth-child(2) svg path:nth-child(1) { fill: #292F36 !important;} &:nth-child(3) { svg path:nth-child(1) { fill: #4D5053 !important;} } }
      section.projects { svg { circle { fill: #4D5053; } path { fill: none; } } }
      section.number {h1 { color: #292F36 !important; } p { color: #555 !important; } }
      section.news .card { .card-bg { p { background-color: #292F36 !important; } } svg { circle { fill: #4D5053; } path { fill: none; } } &:nth-child(2) { background-color: #4D5053 !important; svg circle { fill: #555; } } }
      section.join { .container { background-color: #1F2022 !important; } svg path { fill: none;}}
      section.about-clients { background-color: darken($color: #F4F0EC, $amount: 25%); .cards .card .card-body { background-color: #1F2022; } }
      section.about-hero .text, section.services-hero .text, section.projects-hero .text, section.blog-hero .text, section.contact-hero .text, section.faq-hero .text, section.team-hero .text { background-color: #1F2022; }
      section.about-words .container { border-color: darken($color: #F4F0EC, $amount: 25%); }
      footer {a.logo svg path { fill: #CDA274 !important; } svg rect, svg path { fill: #fff !important; } }
      .footer-col ul li a { transition: color .5s; &:hover { color: #fff; } }
    }
}