header {
    width: 100%;
    height: 80px;
    padding-inline: calc(100% - 1100px) / 2;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    transition: height .5s;
    @media (max-width: 1100px) {
        padding-inline: 40px;
    }
    @media (max-width: 800px) {
        padding-inline: 30px;
    }
    @media (max-width: 768px) {
        padding-inline: 20px;
    }
    @media (max-width: 575px) {
        padding-inline: 10px;
    }
    &.show {
        height: 320px;
        @media (min-width: 901px) { height: 80px; }
        nav {
            height: 240px;
            @media (min-width: 901px) { height: 80px; display: flex; align-items: center; }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-inline: 0;
        @media (max-width: 900px) {
            align-items: flex-start;
            padding: 0;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 0 5px;
        align-content: center;
        height: 80px;
        span {
            color: var(--primary-dark);
            font: 400 40px/125% "DM Serif Display";
        }
    }
    .burger-menu {
        display: none;
        @media (max-width: 900px) {
            display: flex;
            height: 80px;
            align-items: center;
        }
        .burger { 
            transform: scale(1.3);
            z-index: 2;   
            @media (max-width: 900px) {
                cursor: pointer;
                --gap: 5px;
                --height-bar: 2px;
                --pos-y-bar-one: 0;
                --pos-y-bar-three: 0;
                --scale-bar: 1;
                --rotate-bar-one: 0;
                --rotate-bar-three: 0;
                width: 20px;
                display: flex;
                flex-direction: column;
                gap: var(--gap);
                position: relative;
            }    
            .line {
                position: relative;
                height: var(--height-bar);
                width: 100%;
                border-radius: .5rem;
                background-color: #CDA274;
                &:nth-child(1) {
                    top: var(--pos-y-bar-one);
                    transform: rotate(var(--rotate-bar-one));
                    transition: top 200ms 100ms, transform 100ms;
                }
                &:nth-child(2) {
                    transform: scaleX(var(--scale-bar));
                    transition: transform 150ms 100ms;
                }
                &:nth-child(3) {
                    bottom: var(--pos-y-bar-three);
                    transform: rotate(var(--rotate-bar-three));
                    transition: bottom 200ms 100ms, transform 100ms;
                }
            }
    
            &.open {
                --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
                --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
                --scale-bar: 0;
                --rotate-bar-one: 45deg;
                --rotate-bar-three: -45deg;
                .line:nth-child(1) {
                    transition: top 200ms, transform 200ms 100ms;
                }
    
                .line:nth-child(3) {
                    transition: bottom 200ms, transform 200ms 100ms;
                }
            }
        }
    
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
            position: absolute;
            top: 80px;
            background-color: #fff;
            transition: height .5s;
            height: 0;
            overflow: hidden;
            display: block;
        }
        ul {
            display: flex;
            gap: 35px;
            align-items: center;
            margin: auto;
            @media (max-width: 900px) {
                display: block;
                margin: 0;
            }
            li { &:nth-child(6) { @media (max-width: 900px) { margin-block-end: 10px; } } }
            li a {
                color: var(--primary-dark);
                font: 400 18px/125% "Jost";
                transition: color .5s;
                position: relative;                
                @media (max-width: 900px) {
                    display: inline-block;
                    margin-top: 15px;
                }
                &.active,
                &:hover {
                    color: #CDA274;
                }
                &:hover::after, &.active::after {
                    transform-origin: left;
                    transform: scaleX(1);
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    transform: scaleX(0);
                    background-color: #CDA274;
                    width: 100%;
                    height: 2px;
                    transition: transform .5s;
                    transform-origin: right;
                }
            }
        }
    }
}